

.frame {
  height: 50vh;
  display: flex;
  flex-direction: column;

  & &__title {
    margin-top: 0;
  }

  & &__content {
    flex: 1;
    overflow: auto;
    border: 1px hsl(0, 0%, 70%) solid;

  }

}