body {
  /*padding: 20px;*/
  margin: 0;
}

.app {
  min-height: 100vh;
  padding: 1rem;

  &.white {

  }

  &.dark {
    background-color: hsl(0, 0%, 20%);
    color: #fff;
  }
}

.container {
  width: CLAMP(300px, 70%, 500px);
  margin-inline: auto;

  &.dark {
    background-color: hsl(0, 0%, 20%);
    color: #fff;
  }
}

.err {
  margin: 0;
  color: red;
  font-size: .8em;
}


